Repository globe-and-citizen/cnc-portal: changes, and which Codecov flags are due for each by the changed paths.
All: app-unit-tests, api-unit-tests, contract-unit-test

codecov.yml:

coverage:
  status:
    project: true

github_checks:
  annotations: true

flags:
  app-unit-tests:
    carryforward: true
    paths:
      - app
  api-unit-tests:
    carryforward: true
    paths:
      - backend
  contract-unit-test:
    carryforward: true
    paths:
      - contract

feat: edit just to launch ci cd
  backend/.env.example
Due: api-unit-tests

feat: revert fix
  codecov.yml
Due: none

fix: :fire: remove unnecessary implementation module
  contract/ignition/modules/BankImplementationModule.ts
  contract/ignition/modules/VotingModule.ts
Due: contract-unit-test

feat: add new functionality and add tests
  contract/contracts/BoardOfDirectors.sol
  contract/test/BoardOfDirectors.spec.ts
Due: contract-unit-test

docs: add docs
  contract/contracts/BoardOfDirectors.sol
Due: contract-unit-test

fix: apply suggestion
  app/env-list.ts
  app/tsconfig.node.json
  app/vite.config.ts
  app/vitest.config.ts
Due: app-unit-tests

style: format
  contract/test/BoardOfDirectors.spec.ts
Due: contract-unit-test

feat: add expense account smart contract
  contract/contracts/expense-account/ExpenseAccount.sol
Due: contract-unit-test

fix: use abi.encode for budget limit hash
  contract/contracts/expense-account/ExpenseAccount.sol
Due: contract-unit-test

style: format
  app/vite.config.ts
Due: app-unit-tests

refactor: simplify contract
  contract/contracts/expense-account/ExpenseAccount.sol
Due: contract-unit-test

test: add expense account contract tests
  contract/contracts/expense-account/ExpenseAccount.sol
  contract/test/ExpenseAccount.spec.ts
Due: contract-unit-test

feat: add tests for bodService
  app/src/services/__tests__/bodService.spec.ts
Due: app-unit-tests

tests: voting composable
  app/src/composables/__tests__/voting.spec.ts
Due: app-unit-tests

tests: bod composable
  app/src/composables/__tests__/bod.spec.ts
Due: app-unit-tests

tests: voting service
  app/src/services/__tests__/votingService.spec.ts
Due: app-unit-tests

refactor: proposal section
  app/src/components/sections/SingleTeamView/__tests__/ProposalSection.spec.ts
Due: app-unit-tests

refactor: improve deploy governance ux
  app/src/components/sections/SingleTeamView/ProposalSection.vue
Due: app-unit-tests

feat: addProposal function arguments
  contract/contracts/Voting/Types.sol
  contract/contracts/Voting/Voting.sol
Due: contract-unit-test

tests: add proposal
  contract/test/Voting.spec.ts
Due: contract-unit-test

feat: use winnerCount to determine list of winners
  contract/contracts/Voting/Types.sol
  contract/contracts/Voting/Voting.sol
  contract/test/Voting.spec.ts
Due: contract-unit-test

refactor: remove condition
  contract/contracts/Voting/Voting.sol
Due: contract-unit-test

tests: sorting and improve coverage
  contract/test/Voting.spec.ts
Due: contract-unit-test

tests: improve coverage for tips contract
  contract/test/Tips.spec.ts
Due: contract-unit-test

feat: contract integration
  app/src/components/sections/SingleTeamView/ProposalSection.vue
  app/src/components/sections/SingleTeamView/forms/CreateProposalForm.vue
  app/src/services/votingService.ts
  app/src/types/proposal.ts
Due: app-unit-tests

chore: remove conditional
  app/src/services/votingService.ts
Due: app-unit-tests

feat: Update ProposalCard and ProposalDetails components
  app/src/components/sections/SingleTeamView/ProposalCard.vue
  app/src/components/sections/SingleTeamView/ProposalDetails.vue
  app/src/components/sections/SingleTeamView/forms/VoteForm.vue
Due: app-unit-tests

fix: tests
  app/src/components/__tests__/ProposalCard.spec.ts
  app/src/components/forms/__tests__/VoteForm.spec.ts
  app/src/services/__tests__/votingService.spec.ts
  app/src/services/votingService.ts
Due: app-unit-tests

feat: format board of directors
  app/src/components/sections/SingleTeamView/ProposalSection.vue
Due: app-unit-tests

chore: remove unused import
  app/src/components/sections/SingleTeamView/ProposalSection.vue
Due: app-unit-tests

refactor: emulate bank contract transfer
  contract/contracts/expense-account/ExpenseAccount.sol
  contract/test/ExpenseAccount.spec.ts
Due: contract-unit-test

style: prettier
  contract/test/ExpenseAccount.spec.ts
Due: contract-unit-test

style: lint
  contract/test/ExpenseAccount.spec.ts
Due: contract-unit-test

test: add get balance test
  contract/test/ExpenseAccount.spec.ts
Due: contract-unit-test

feat: factory beacon deployment implementation
  contract/contracts/beacons/FactoryBeacon.sol
  contract/ignition/modules/ExpenseAccountModule.ts
Due: contract-unit-test

test: expense account deployment
  contract/test/ExpenseAccountModule.spec.ts
Due: contract-unit-test

fix: remove draftedBy from function arguments
  contract/contracts/Voting/Types.sol
  contract/contracts/Voting/Voting.sol
  contract/test/Voting.spec.ts
Due: contract-unit-test
